# Function Aliases
alias rmkh='rmKnownHost'
alias ppyaml='printYaml'
alias plz='sudo $(history -p !!)'
alias py27='source ~/py27/bin/activate'
alias py34='source ~/py34/bin/activate'
alias py36='source ~/py36/bin/activate'
alias getExternalIp='~/bin/getExternalIp.py'

# Directory Aliases
alias cdetc='cd /etc'
alias cdans='cd /etc/ansible'
alias cdsup='cd /etc/supervisord.d/'
alias cdlog='cd /var/log'
alias cdnet='cd /etc/sysconfig/network-scripts'
alias cdsys='cd /etc/sysconfig'
alias cdblk='cd /sys/block'
alias cdweb='cd /var/www/html'

# Pretty-print of some PATH variables:
alias path='echo -e ${PATH//:/\\n}'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'

# Command Substitutions
# -> Prevents accidentally clobbering files.
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias vi="vim"
alias du='du -kh'    # Makes a more readable output.
alias df='df -hP'

alias h='history'
alias j='jobs -l'

#-------------------------------------------------------------
# The 'ls' family (this assumes you use a recent GNU ls).
#-------------------------------------------------------------
alias lx='ls -lhXB --color'         #  Sort by extension.
alias lk='ls -lhSr --color'         #  Sort by size, biggest last.
alias lu='ls -lhtur --color'        #  Sort by/show access time,most recent last.
alias ll='ls -lvh --group-directories-first --color'
alias la='ls -lvhA --group-directories-first --color'           #  Show hidden files.
alias thor='ls -thor --group-directories-first --color'      #  Show by modify date in reverse order
alias treec='tree -Csuh'    #  Nice alternative to 'recursive ls' ...

alias aliases='cat ~/.aliases'

