[user]
	email = jesse.christensen@imsar.com
	name = Jesse Chrisetnsen
[alias]
	graph = log --oneline --abbrev-commit --graph --decorate --color
	graphall = log --oneline --abbrev-commit --graph --decorate --color --branches=* --tags=* --all
[commit]
  template = ~/.gitcommittemplate
